<main class="lista-vacantes">
    <h2>Lista de Vacantes</h2>
    {{!-- Vacante --}}
    <div class="vacante">
        <div class="caja">
            <h2>Facebook</h2>
            <p class="puesto">React Developer</p>
        </div>
        <div class="caja">
            <h2 class="etiqueta">Ubicaci칩n</h2>
            <p class="nombre">Remoto</p>
        </div>
        <div class="caja">
            <h2 class="etiqueta">Contrato</h2>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>
        <div class="caja centrar-vertical">
            <a href="#" class="btn btn-verde">M치s Info</a>
        </div>
    </div>
    <div class="vacante">
        <div class="caja">
            <h2>AirBNB</h2>
            <p class="puesto">Node Developer</p>
        </div>
        <div class="caja">
            <h2 class="etiqueta">Ubicaci칩n</h2>
            <p class="nombre">Remoto</p>
        </div>
        <div class="caja">
            <h2 class="etiqueta">Contrato</h2>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>
        <div class="caja centrar-vertical">
            <a href="#" class="btn btn-verde">M치s Info</a>
        </div>
    </div>
</main>